{% extends 'base.html' %}
{% block content %}
<div class="my-5 d-flex justify-content-center">
<form method="get" action="{% url 'passdata' %}">

<!--    <input name="mac"  placeholder="mac-address: exc 00:02:02:2D:C8:2A">-->
    <input name="city_id" type="text" placeholder="city_id: ex 35">
    <button type="submit">search</button>
</form>
</div>
    <table class="table table-secondary">
    <thead>
    <tr>
      <th scope="col" >ID</th>
      <th scope="col" >City ID</th>
      <th scope="col" >IP Address</th>
      <th scope="col" >Stb Mac</th>
    </tr>
  </thead>
    <tbody>
    {% for element in object_list %}
    <tr>

        <td>{{ element.id }}</td>
        <td>{{ element.city_id }}</td>
        <td>{{ element.ipaddress }}</td>
        <td>{{ element.stb_mac }}</td>

    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock content %}